.module-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.sidebar-btn {
    width: 100%;
    background: var(--dark-theme-background-color);
    color: white;
    border: none;
    padding: 8px;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar-btn:hover,
.module-btn:hover,
.final-btn:hover {
    background: #0056b3;
    box-shadow: 5px 0px 8px rgba(122, 79, 79, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
}

.module-content {
    flex: 1;
    margin-left: 12em;
    width: calc(100% - 12em);
    padding: 10px 20px;
}