.primary-sidebar {
    display: flex;
    flex-direction: column;
    width: 12em;
    border-right: 1px solid rgb(190 180 180 / 60%);
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.primary-sidebar-menu {
    margin: 10px 0;
}

.primary-sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background 0.3s ease;
}

.primary-sidebar-item:hover {
    background-color: #9b9b9b60;;
}

.active {
    background-color: #f1f1f1;
}

.primary-sidebar-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}

.primary-sidebar-item:hover {
    background-color: #9b9b9b60;;
}

.primary-sidebar-icon {
    margin-right: 10px;
    color: #464864;
    font-size: 20px !important;
}

.menu-text {
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.primary-sidebar-btn {
    width: 100%;
    background: var(--dark-theme-background-color);
    color: white;
    border: none;
    padding: 8px;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}